<section *ngIf="!isMobile" class="container mx-auto max-w-4xl">
  <h2 class="text-center" nz-typography>Products</h2>
  <button
    class="flex justify-center items-center mb-3"
    nz-button
    nzType="primary"
    routerLink="/products/create"
  >
    <i nz-icon nzType="plus" nzTheme="outline"></i>New
  </button>

  <section class="">
    <section class="">
      <nz-table
        nzShowSizeChanger
        [nzData]="products"
        [nzFrontPagination]="false"
        [nzLoading]="loading"
        [nzTotal]="total"
        [nzPageSize]="pageSize"
        [nzPageIndex]="pageIndex"
        (nzQueryParams)="onQueryParamsChange($event)"
        nzSize="middle"
        nzPaginationPosition="bottom"
        nzTableLayout="fixed"
        [nzWidthConfig]="['60px', '130px', '130px']"
      >
        <thead>
          <tr>
            <th nzColumnKey="id" [nzSortFn]="true">Id</th>
            <th nzColumnKey="productName" [nzSortFn]="true" nzCustomFilter>
              Name
              <nz-filter-trigger
                [(nzVisible)]="columnFilter.productName.visible"
                [nzDropdownMenu]="menuFilterName"
              >
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>

            <th nzColumnKey="productCode" [nzSortFn]="true" nzCustomFilter>
              Code
              <nz-filter-trigger
                [(nzVisible)]="columnFilter.productCode.visible"
                [nzDropdownMenu]="menuFilterCode"
              >
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>

            <th nzColumnKey="productPriceIn" [nzSortFn]="true" nzCustomFilter>
              PriceIn
              <nz-filter-trigger
                [(nzVisible)]="columnFilter.productPriceIn.visible"
                [nzDropdownMenu]="menuFilterPriceIn"
              >
                <i nz-icon nzType="filter"></i>
              </nz-filter-trigger>
            </th>

            <th nzColumnKey="productPriceOut" [nzSortFn]="true" nzCustomFilter>
              PriceOut
              <nz-filter-trigger
                [(nzVisible)]="columnFilter.productPriceOut.visible"
                [nzDropdownMenu]="menuFilterPriceOut"
              >
                <i nz-icon nzType="filter"></i>
              </nz-filter-trigger>
            </th>

            <th nzColumnKey="quantity">Quantity</th>

            <th nzColumnKey="note">Note</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let product of products"
            routerLink="/products/{{ product?.id }}"
            class="cursor-pointer"
          >
            <td>{{ product?.id }}</td>
            <td>{{ product?.productName }}</td>
            <td>{{ product?.productCode }}</td>
            <td>{{ product?.productPriceIn | number: "1.0-0" }}{{ " đ" }}</td>
            <td>{{ product?.productPriceOut | number: "1.0-0" }}{{ " đ" }}</td>
            <td>{{ product?.inventory?.currentQuantity }}</td>
            <td>{{ product?.note }}</td>
          </tr>
        </tbody>
      </nz-table>
    </section>
  </section>

  <section>
    <!--  Menu Filter Name  -->
    <nz-dropdown-menu #menuFilterName="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <input
            type="text"
            nz-input
            placeholder="Search name"
            [(ngModel)]="columnFilter.productName.productName"
            (keydown.enter)="filterColumns()"
            autofocus
          />
          <button
            nz-button
            nzSize="small"
            nzType="primary"
            (click)="filterColumns()"
            class="search-button"
          >
            Search
          </button>
          <button nz-button nzSize="small" (click)="reset()">Reset</button>
        </div>
      </div>
    </nz-dropdown-menu>

    <!--  Menu Filter Code  -->
    <nz-dropdown-menu #menuFilterCode="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <input
            type="text"
            nz-input
            placeholder="Search code"
            [(ngModel)]="columnFilter.productCode.productCode"
            (keydown.enter)="filterColumns()"
            autofocus
          />
          <button
            nz-button
            nzSize="small"
            nzType="primary"
            (click)="filterColumns()"
            class="search-button"
          >
            Search
          </button>
          <button nz-button nzSize="small" (click)="reset()">Reset</button>
        </div>
      </div>
    </nz-dropdown-menu>

    <!--  Menu Filter Price In  -->
    <nz-dropdown-menu #menuFilterPriceIn="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <input
            type="number"
            nz-input
            placeholder="Price in from"
            [(ngModel)]="columnFilter.productPriceIn.productPriceInFrom"
            (keydown.enter)="filterColumns()"
          />
          <input
            type="number"
            nz-input
            placeholder="Price in to"
            [(ngModel)]="columnFilter.productPriceIn.productPriceInTo"
            (keydown.enter)="filterColumns()"
          />
          <button
            nz-button
            nzSize="small"
            nzType="primary"
            (click)="filterColumns()"
            class="search-button"
          >
            Search
          </button>
          <button nz-button nzSize="small" (click)="reset()">Reset</button>
        </div>
      </div>
    </nz-dropdown-menu>

    <!--  Menu Filter Price In  -->
    <nz-dropdown-menu #menuFilterPriceOut="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <input
            type="number"
            nz-input
            placeholder="Price out from"
            [(ngModel)]="columnFilter.productPriceOut.productPriceOutFrom"
            (keydown.enter)="filterColumns()"
          />
          <input
            type="number"
            nz-input
            placeholder="Price out to"
            [(ngModel)]="columnFilter.productPriceOut.productPriceOutTo"
            (keydown.enter)="filterColumns()"
          />
          <button
            nz-button
            nzSize="small"
            nzType="primary"
            (click)="filterColumns()"
            class="search-button"
          >
            Search
          </button>
          <button nz-button nzSize="small" (click)="reset()">Reset</button>
        </div>
      </div>
    </nz-dropdown-menu>
  </section>
</section>

<section *ngIf="isMobile">
  <h2 class="text-center" nz-typography>Products</h2>
  <button
    class="flex justify-center items-center mb-3"
    nz-button
    nzType="primary"
    routerLink="/products/create"
  >
    <i nz-icon nzType="plus" nzTheme="outline"></i>New
  </button>

  <ng-container *ngFor="let product of products">
    <nz-card
      class="mb-2 z-10"
      nzSize="small"
      [nzTitle]="'Product ' + product?.id"
      [nzActions]="[editAction, deleteAction]"
      [nzHoverable]="true"
      routerLink="/products/{{ product?.id }}"
    >
      <nz-descriptions nzSize="small">
        <nz-descriptions-item nzTitle="Name">{{
          product?.productName
        }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Code">{{
          product?.productCode
        }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Price In"
          >{{ product?.productPriceIn | number: "1.0-0"
          }}{{ " đ" }}</nz-descriptions-item
        >
        <nz-descriptions-item nzTitle="Price Out"
          >{{ product?.productPriceOut | number: "1.0-0"
          }}{{ " đ" }}</nz-descriptions-item
        >

        <nz-descriptions-item nzTitle="Quantity">{{
          product?.inventory?.currentQuantity
        }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Note">{{
          product?.note
        }}</nz-descriptions-item>
      </nz-descriptions>

      <ng-template #editAction>
        <i
          nz-icon
          nzType="edit"
          (click)="stopPropagation($event)"
          routerLink="/products/{{ product?.id }}/edit"
        ></i>
      </ng-template>
      <ng-template #deleteAction>
        <i
          (click)="stopPropagation($event)"
          nz-popconfirm
          nzPopconfirmTitle="Still delete!!!"
          (nzOnConfirm)="delete(product?.id)"
          nzPopconfirmPlacement="top"
          nz-icon
          nzType="delete"
          nzTheme="outline"
        >
        </i>
      </ng-template>
    </nz-card>
  </ng-container>

  <section *ngIf="loading">
    <nz-skeleton
      [nzActive]="true"
      [nzLoading]="loading"
      [nzAvatar]="{ size: 'large' }"
    >
    </nz-skeleton>
    <nz-skeleton
      [nzActive]="true"
      [nzLoading]="loading"
      [nzAvatar]="{ size: 'large' }"
    >
    </nz-skeleton>
    <nz-skeleton
      [nzActive]="true"
      [nzLoading]="loading"
      [nzAvatar]="{ size: 'large' }"
    >
    </nz-skeleton>
    <nz-skeleton
      [nzActive]="true"
      [nzLoading]="loading"
      [nzAvatar]="{ size: 'large' }"
    >
    </nz-skeleton>
  </section>

  <Pagination
    class=""
    [total]="totalPages"
    [current]="currentPage"
    [locale]="{
      prevText: 'Prev',
      nextText: 'Next'
    }"
    (onChange)="onChosenPage($event)"
  >
  </Pagination>
</section>
