<section class="container mx-auto max-w-7xl">
  <h2 class="text-center" nz-typography>Products</h2>
  <button
    class="flex justify-center items-center mb-3"
    nz-button
    nzType="primary"
    routerLink="/products/create"
  >
    <i nz-icon nzType="plus" nzTheme="outline"></i>New
  </button>

  <section class="container mx-auto max-w-7xl">
    <section class="">
      <nz-table
        nzShowSizeChanger
        [nzData]="products"
        [nzFrontPagination]="false"
        [nzLoading]="loading"
        [nzTotal]="total"
        [nzPageSize]="pageSize"
        [nzPageIndex]="pageIndex"
        (nzQueryParams)="onQueryParamsChange($event)"
        nzSize="default"
        nzPaginationPosition="bottom"
        nzTableLayout="fixed"
      >
        <thead>
          <tr>
            <th nzColumnKey="id" [nzSortFn]="true">Id</th>
            <th nzColumnKey="productName" [nzSortFn]="true" nzCustomFilter>
              Name
              <nz-filter-trigger
                [(nzVisible)]="visible"
                [nzActive]="searchValue.length > 0"
                [nzDropdownMenu]="menu"
                (click)="focusOnSearchInput()"
              >
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <th nzColumnKey="productCode" [nzSortFn]="true">Code</th>
            <th nzColumnKey="productPriceIn" [nzSortFn]="true">PriceIn</th>
            <th nzColumnKey="productPriceOut" [nzSortFn]="true">PriceOut</th>
            <th nzColumnKey="quantity">Quantity</th>
            <th nzColumnKey="note">Note</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let product of products"
            routerLink="/products/{{ product?.id }}"
            class="cursor-pointer"
          >
            <td>{{ product?.id }}</td>
            <td>{{ product?.productName }}</td>
            <td>{{ product?.productCode }}</td>
            <td>{{ product?.productPriceIn | number: "1.0-0" }}{{ " đ" }}</td>
            <td>{{ product?.productPriceOut | number: "1.0-0" }}{{ " đ" }}</td>
            <td>{{ product?.inventory?.currentQuantity }}</td>
            <td>{{ product?.note }}</td>
          </tr>
        </tbody>
      </nz-table>
    </section>
  </section>

  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input
          type="text"
          nz-input
          placeholder="Search name"
          [(ngModel)]="searchValue"
          (keydown.enter)="search()"
          #searchInput
          autofocus
        />
        <button
          nz-button
          nzSize="small"
          nzType="primary"
          (click)="search()"
          class="search-button"
        >
          Search
        </button>
        <button nz-button nzSize="small" (click)="reset()">Reset</button>
      </div>
    </div>
  </nz-dropdown-menu>
</section>
