<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    nzTheme="dark"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
    [nzCollapsedWidth]="isMobile ? 0 : 100"
  >
    <div class="sidebar-logo">
      <a href="#">
        <i
          class="text-purple-200"
          nz-icon
          nzType="medicine-box"
          nzTheme="outline"
          style="font-size: 25px"
        ></i>
        <h1 class="text-purple-200">Clinic</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li
        *ngIf="isAuth$ | async"
        nz-submenu
        nzOpen
        nzTitle="Dashboard"
        nzIcon="dashboard"
      >
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome" (click)="isMobile ? collapseMenu() : null"
              >Welcome</a
            >
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/products" (click)="isMobile ? collapseMenu() : null"
              >Product</a
            >
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/orders" (click)="isMobile ? collapseMenu() : null"
              >Order</a
            >
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/reports" (click)="isMobile ? collapseMenu() : null"
              >Report</a
            >
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Auth" nzIcon="user">
        <ul>
          <li *ngIf="isAuth$ | async" nz-menu-item nzMatchRouter>
            <a routerLink="/users" (click)="isMobile ? collapseMenu() : null"
              >Users</a
            >
          </li>
          <li *ngIf="(isAuth$ | async) === false" nz-menu-item nzMatchRouter>
            <a
              routerLink="/auth/signin"
              (click)="isMobile ? collapseMenu() : null"
              >Sign In</a
            >
          </li>
          <li *ngIf="(isAuth$ | async) === false" nz-menu-item nzMatchRouter>
            <a
              routerLink="/auth/signup"
              (click)="isMobile ? collapseMenu() : null"
              >Sign Up</a
            >
          </li>
          <li
            *ngIf="isAuth$ | async"
            nz-menu-item
            nzMatchRouter
            (click)="signOut()"
          >
            <a>Sign Out</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content" (click)="isMobile ? collapseMenu() : null">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
