<section
  *ngIf="!product"
  class="text-center w-full h-full flex justify-center items-center"
>
  <nz-spin nzSize="large" nzSimple></nz-spin>
</section>

<section *ngIf="product">
  <nz-button-group class="flex justify-center mt-28 mb-5">
    <button
      class="flex justify-center items-center"
      nz-button
      nzType="default"
      routerLink="/products"
    >
      <i nz-icon nzType="left" nzTheme="outline"></i>
      Back
    </button>
    <button
      *ngIf="isUpdated"
      nz-button
      nzType="primary"
      routerLink="/products/{{ productId }}"
    >
      Detail
    </button>
    <button
      *ngIf="isDetailed"
      nz-button
      nzType="primary"
      routerLink="/products/{{ productId }}/edit"
    >
      Edit
    </button>
    <button
      *ngIf="!isCreated"
      nz-button
      nzType="primary"
      nzDanger
      nz-popconfirm
      nzPopconfirmTitle="Still delete!!!"
      (nzOnConfirm)="delete()"
      nzPopconfirmPlacement="bottom"
      [nzLoading]="isLoading"
      nzShape="round"
    >
      Delete
    </button>
  </nz-button-group>

  <section class="flex justify-center items-center">
    <form
      nz-form
      [formGroup]="validateForm"
      (ngSubmit)="submitForm()"
      class="w-72"
    >
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input product name!">
          <nz-input-group nzPrefixIcon="number" class="mb-1.4">
            <input
              type="text"
              nz-input
              formControlName="productName"
              placeholder="Product Name"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="Please input product code!">
          <nz-input-group nzPrefixIcon="barcode" class="mb-1.4">
            <input
              type="text"
              nz-input
              formControlName="productCode"
              placeholder="Product Code"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="Please input product price in!">
          <nz-input-group nzPrefixIcon="euro" class="mb-1.4">
            <input
              type="number"
              nz-input
              formControlName="productPriceIn"
              placeholder="Product Price In"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="Please input product price out!">
          <nz-input-group nzPrefixIcon="euro" class="mb-1.4">
            <input
              type="number"
              nz-input
              formControlName="productPriceOut"
              placeholder="Product Price Out"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="Please input note!">
          <nz-input-group nzPrefixIcon="book" class="mb-1.4">
            <input
              type="text"
              nz-input
              formControlName="note"
              placeholder="Note"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="Please input initial quantity!">
          <nz-input-group nzPrefixIcon="tags" class="mb-1.4">
            <input
              type="number"
              nz-input
              formControlName="quantity"
              placeholder="Initial Quantity"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <button
        *ngIf="isCreated || isUpdated"
        [nzLoading]="isLoading"
        nz-button
        nzBlock
        [nzType]="'primary'"
      >
        Submit
      </button>
    </form>
  </section>
</section>
